html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input, textarea {
  color: #ffffff;
  font-family: "Poppins", "sans-serif";
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
input::placeholder, textarea::placeholder {
  color: #ffffff;
  font-family: "Poppins", "sans-serif";
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h1 {
  color: #ffffff;
  font-family: "Poppins", "sans-serif";
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.25rem; /* 106.25% */
  letter-spacing: -2px;
}
@media only screen and (max-width: 639.99px) {
  h1 {
    font-size: 3.25rem;
    line-height: 3.9rem;
  }
}

.nav-text {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins", "sans-serif";
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.21875rem; /* 19.5px */
  letter-spacing: 3px;
  text-transform: uppercase;
}

.small-title {
  color: #253757;
  text-align: center;
  font-family: "Poppins", "sans-serif";
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.6rem; /* 48px */
}

.big-title {
  color: #253757;
  text-align: center;
  font-family: "Poppins", "sans-serif";
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.3rem; /* 52.8px */
}

.regular-text {
  color: #6c788b;
  text-align: center;
  font-family: "Open Sans", "sans-serif";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.25rem; /* 36px */
}
@media only screen and (max-width: 639.99px) {
  .regular-text {
    font-size: 1.375rem;
  }
}

.intro-text {
  color: #6c788b;
  font-family: "Poppins", "sans-serif";
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.card-title {
  color: #253757;
  text-align: center;
  font-family: "Poppins", "sans-serif";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem; /* 28px */
}

.card-text-1 {
  color: #6c788b;
  text-align: center;
  font-family: "Open Sans", "sans-serif";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem; /* 21px */
}

.card-text-2 {
  color: #6c788b;
  font-family: "Open Sans", "sans-serif";
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.21875rem; /* 19.5px */
}

.subtitle {
  color: #ffffff;
  font-family: "Open Sans", "sans-serif";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6875rem; /* 27px */
}

.button-text {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins", "sans-serif";
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.link-button-text {
  color: #2c2c2c;
  text-align: left;
  font-family: "Poppins", "sans-serif";
  font-size: 0.92rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.service-card-number-text {
  color: #2060f6;
  text-align: center;
  font-family: "Poppins", "sans-serif";
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.contacts-value-text {
  color: #ffffff;
  font-family: "Open Sans", "sans-serif";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.25rem; /* 36px */
}

.footer-title-text {
  color: #ffffff;
  font-family: "Poppins", "sans-serif";
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem; /* 48px */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f6fa;
  scroll-behavior: smooth;
}

.hide-overf-onmenu {
  overflow: hidden;
}

.nav {
  max-width: 1024px;
  margin: 0 auto;
}
.nav__mobile {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: -100%;
  background-color: #2c2c2c;
  z-index: 80;
  transition: left 0.3s ease-in-out;
}
.nav__mobile--show {
  left: 0 !important;
}
.nav__mobile .nav__list {
  flex-direction: column;
  max-width: 1024px;
  margin: 30px auto;
  width: 100%;
  padding: 0 20px;
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .nav__mobile .nav__list {
    padding: 0 40px;
    min-height: 45vh;
  }
}
@media only screen and (min-width: 1024px) {
  .nav__mobile .nav__list {
    padding: 0 54px;
  }
}
.nav__mobile .nav__link::after {
  bottom: -8px;
}
.nav__mobile .nav__link:hover::after {
  width: 100%;
}
.nav__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .nav__top {
    padding: 0 40px;
  }
}
@media only screen and (min-width: 1024px) {
  .nav__top {
    padding: 0 54px;
  }
}
.nav__leftside {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}
.nav__menu-icon-container {
  display: block;
}
@media only screen and (min-width: 1024px) {
  .nav__menu-icon-container {
    display: none;
  }
}
.nav__logo-image {
  width: 46px;
  height: 28px;
}
.nav__menu {
  display: block;
}
@media only screen and (max-width: 639.99px) {
  .nav__menu {
    display: none;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .nav__menu {
    display: none;
  }
}
.nav__list {
  display: flex;
  flex-direction: row;
  gap: 48px;
}
@media only screen and (max-width: 639.99px) {
  .nav__list {
    flex-direction: column;
    gap: 24px;
    padding-bottom: 80px;
  }
}
.nav__item {
  height: 100%;
  width: 100%;
}
.nav__link {
  display: block;
  height: 100%;
  width: max-content;
  padding: 48px 0;
  box-sizing: border-box;
  position: relative;
}
.nav__link--hire, .nav__link--logo {
  padding: 52px 0;
}
@media only screen and (max-width: 639.99px) {
  .nav__link {
    padding: 20px 0;
  }
  .nav__link::after {
    bottom: -8px;
  }
}
.nav__link::after {
  position: absolute;
  content: "";
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0;
  height: 2px;
  background-color: #008aff;
  transition: width 0.3s ease-in-out;
}
.nav__link:hover::after {
  width: 100%;
}

.header {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: #2c2c2c;
  border-radius: 0 0 30px 30px;
}
.header__content {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media only screen and (max-width: 639.99px) {
  .header__content {
    min-height: 50vh;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .header__content {
    padding: 0 40px;
    min-height: 45vh;
  }
}
@media only screen and (min-width: 1024px) {
  .header__content {
    padding: 0 54px;
  }
}
.header__title {
  padding-bottom: 24px;
  padding-top: 28px;
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .header__title {
    padding-bottom: 32px;
    padding-top: 36px;
  }
}
@media only screen and (min-width: 1024px) {
  .header__title {
    max-width: 300px;
    padding-bottom: 32px;
    padding-top: 116px;
  }
}
.header__text {
  padding-bottom: 72px;
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .header__text {
    padding-bottom: 56px;
  }
}
@media only screen and (min-width: 1024px) {
  .header__text {
    max-width: 350px;
    padding-bottom: 83px;
  }
}

.button {
  cursor: pointer;
  border: none;
  width: 264px;
  height: 50px;
  border-radius: 8px;
  background: #144ed4;
  transition: background-color 0.3s ease-in-out;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 639.99px) {
  .button {
    width: 100%;
  }
}
.button:hover {
  background-color: #2060f6;
}

.slider {
  width: 100%;
  height: 390px;
  border-radius: 30px;
  background-position: 50%;
}
@media only screen and (min-width: 1024px) {
  .slider {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 85%;
    border: none;
  }
}
.slider__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
@media only screen and (min-width: 1024px) {
  .slider__image {
    border-radius: 30px 0 30px 0;
  }
}
.slider__content {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .slider__content {
    bottom: 40px;
    left: 40px;
  }
}
@media only screen and (min-width: 1024px) {
  .slider__content {
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
  }
}
.slider__content-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media only screen and (min-width: 1024px) {
  .slider__content-wrap {
    flex-direction: row;
    gap: 24px;
    align-items: center;
  }
}
.slider__buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.slider__button {
  background-color: #ffffff;
  padding: 7px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
}
.slider__text-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
.slider__title, .slider__text {
  color: #ffffff;
  text-align: left;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 148px;
  align-items: center;
  justify-content: space-around;
}

.section {
  width: 100%;
}
.section__content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 72px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .section__content {
    padding: 0 40px;
    padding-top: 128px;
  }
}
@media only screen and (min-width: 1024px) {
  .section__content {
    padding: 0 54px;
    padding-top: 128px;
  }
}
.section__title {
  padding-bottom: 16px;
}
@media only screen and (max-width: 639.99px) {
  .section__title {
    padding-bottom: 16px;
  }
}
.section--expertise {
  background-color: #ffffff;
  border-radius: 30px;
  padding-bottom: 72px;
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .section--expertise {
    padding-bottom: 128px;
  }
}
@media only screen and (min-width: 1024px) {
  .section--expertise {
    padding-bottom: 128px;
  }
}
.section--vision {
  background-color: #ffffff;
  height: 100vh;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .section--vision {
    height: 691px;
    background-image: url("../images/BGvision.png");
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  .section--vision {
    height: 740px;
    background-image: url("../images/BGvision.png");
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
  }
}
.section--vision .section__content {
  grid-column: 1/-1;
}
@media only screen and (min-width: 1024px) {
  .section--vision .section__content {
    grid-column: 3/11;
  }
}
.section--vision .section__title {
  padding-bottom: 24px;
}
.section--vision .section__text {
  padding-bottom: 56px;
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .section--vision .section__text {
    padding-bottom: 64px;
  }
}
@media only screen and (min-width: 1024px) {
  .section--vision .section__text {
    padding-bottom: 64px;
  }
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 639.99px) {
  .cards {
    gap: 56px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .cards {
    gap: 72px;
  }
}
@media only screen and (min-width: 1024px) {
  .cards {
    flex-direction: row;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card__text-container {
  max-width: 264px;
}
.card__title {
  padding-top: 32px;
  padding-bottom: 16px;
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .card__title {
    padding-top: 40px;
  }
}
@media only screen and (min-width: 1024px) {
  .card__title {
    padding-top: 40px;
  }
}
.card__image-container {
  width: 184px;
  height: 166px;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}
.card__image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.services {
  display: grid;
}
@media only screen and (max-width: 639.99px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 30px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .services {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  .services {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
  }
}
@media only screen and (min-width: 1600px) {
  .services {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
  }
}
.services__intro {
  align-self: end;
}
@media only screen and (max-width: 639.99px) {
  .services__intro {
    grid-area: 1/1/2/3;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .services__intro {
    grid-area: 1/1/2/4;
  }
}
@media only screen and (min-width: 1024px) {
  .services__intro {
    grid-area: 1/1/2/3;
  }
}
@media only screen and (max-width: 639.99px) {
  .services__text-container {
    grid-area: 2/1/3/3;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .services__text-container {
    grid-area: 2/1/4/4;
    align-self: start;
  }
}
@media only screen and (min-width: 1024px) {
  .services__text-container {
    grid-area: 2/1/4/6;
    align-self: start;
  }
}
@media only screen and (max-width: 639.99px) {
  .services__service-card--1 {
    grid-area: 3/1/4/3;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .services__service-card--1 {
    grid-area: 4/1/6/4;
  }
}
@media only screen and (min-width: 1024px) {
  .services__service-card--1 {
    grid-area: 2/7/4/10;
    align-self: start;
  }
}
@media only screen and (max-width: 639.99px) {
  .services__service-card--2 {
    grid-area: 4/1/5/3;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .services__service-card--2 {
    grid-area: 3/4/5/7;
  }
}
@media only screen and (min-width: 1024px) {
  .services__service-card--2 {
    grid-area: 1/10/3/13;
    align-self: start;
  }
}
@media only screen and (max-width: 639.99px) {
  .services__service-card--3 {
    grid-area: 5/1/6/3;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .services__service-card--3 {
    grid-area: 6/1/8/4;
  }
}
@media only screen and (min-width: 1024px) {
  .services__service-card--3 {
    grid-area: 4/7/6/10;
    align-self: start;
  }
}
@media only screen and (max-width: 639.99px) {
  .services__service-card--4 {
    grid-area: 6/1/7/3;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .services__service-card--4 {
    grid-area: 5/4/7/7;
  }
}
@media only screen and (min-width: 1024px) {
  .services__service-card--4 {
    grid-area: 3/10/5/13;
    align-self: start;
  }
}
.services__title, .services__text {
  text-align: left;
}
.services__title {
  padding-bottom: 24px;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 32px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 9px 18px 0px rgba(37, 41, 49, 0.03);
}
.service-card__number {
  background-color: #f2f6fa;
  border-radius: 23px;
  margin-bottom: 24px;
}
.service-card__number span {
  padding: 2px 10px;
}
.service-card__list-container {
  padding-bottom: 32px;
}

.link-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.link-button__icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: #2060f6;
  border-radius: 50%;
}

.testimonials__text-container {
  width: 100%;
  padding-bottom: 48px;
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .testimonials__text-container {
    padding-bottom: 56px;
  }
}
@media only screen and (min-width: 1024px) {
  .testimonials__text-container {
    padding-bottom: 85px;
  }
}
.testimonials__intro-container {
  width: 100%;
}
.testimonials__intro {
  text-align: left;
}
.testimonials__title {
  text-align: left;
}

.test-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .test-cards {
    gap: 20px;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1024px) {
  .test-cards {
    gap: 30px;
    flex-direction: row;
  }
}

.test-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0px 9px 18px 0px rgba(37, 41, 49, 0.03);
  padding: 32px;
  height: 550px;
  width: 100%;
}
.test-card__image-container {
  width: 109px;
  height: 109px;
  position: relative;
  margin-bottom: 67px;
  margin-top: 55px;
}
.test-card__image-container::after {
  z-index: 20;
  position: absolute;
  content: "";
  width: 108.976px;
  height: 43.904px;
  transform: rotate(-60deg);
  border-radius: 12px;
  background: #008aff;
  left: -40%;
}
.test-card__image-container::before {
  z-index: 20;
  position: absolute;
  content: "";
  width: 108.976px;
  height: 43.904px;
  transform: rotate(-60deg);
  border-radius: 12px;
  background: #008aff;
  bottom: -5%;
  left: 40%;
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .test-card__image-container {
    width: 140px;
    height: 140px;
    margin-bottom: 79px;
    margin-top: 43px;
  }
}
@media only screen and (min-width: 1024px) {
  .test-card__image-container {
    margin-bottom: 67px;
    margin-top: 55px;
  }
}
.test-card__symbol-container {
  margin-bottom: 8px;
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .test-card__symbol-container {
    margin-bottom: 16px;
  }
}
@media only screen and (min-width: 1024px) {
  .test-card__symbol-container {
    margin-bottom: 8px;
  }
}
.test-card__text, .test-card__name, .test-card__company {
  text-align-last: center;
}
.test-card__text {
  padding-bottom: 16px;
}
.test-card__name {
  padding-bottom: 4px;
  color: #253757;
}
.test-card__company {
  font-size: 0.6875rem;
}
.test-card__image {
  z-index: 30;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}

.footer {
  box-sizing: border-box;
  background-color: #2c2c2c;
  border-radius: 30px 30px 0 0;
  width: 100%;
  position: relative;
}
.footer__content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-top: 70px;
  height: 100%;
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .footer__content {
    padding: 0 40px;
    gap: 120px;
    padding-top: 180px;
  }
}
@media only screen and (min-width: 1024px) {
  .footer__content {
    padding: 0 54px;
    flex-direction: row;
    gap: 0;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 180px;
  }
}
.footer__footer-block {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer .nav {
  margin-top: 80px;
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .footer .nav {
    margin-top: 140px;
  }
}
@media only screen and (min-width: 1024px) {
  .footer .nav {
    margin-top: 120px;
  }
}
.footer .nav__hire {
  display: none;
}
.footer .nav__list {
  gap: 64px;
}
@media only screen and (max-width: 639.99px) {
  .footer .nav__link {
    padding: 0;
  }
}
.footer .nav__menu-icon-container {
  display: none;
}
.footer .nav__menu {
  display: block;
}
@media only screen and (max-width: 639.99px) {
  .footer .nav__top {
    flex-direction: column;
    align-items: start;
    gap: 48px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .footer .nav__top {
    flex-direction: column;
    align-items: start;
    gap: 24px;
  }
}

@media only screen and (max-width: 639.99px) {
  .footer-block {
    width: 100%;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .footer-block {
    max-width: 362px;
  }
}
@media only screen and (min-width: 1024px) {
  .footer-block {
    max-width: 370px;
  }
}
@media only screen and (min-width: 1600px) {
  .footer-block {
    max-width: 460px;
  }
}
.footer-block__title {
  padding-bottom: 56px;
}
@media only screen and (max-width: 639.99px) {
  .footer-block__title {
    padding-bottom: 48px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 48px;
  margin-bottom: 80px;
}
@media only screen and (max-width: 639.99px) {
  .form {
    gap: 40px;
    margin-bottom: 56px;
  }
}
.form__input {
  height: 55px;
  background-color: transparent;
  padding: 16px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ffffff;
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
}
.form__input:hover {
  border-bottom: 2px solid #144ed4;
}
.form__input:focus {
  outline: none;
  opacity: 1;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 48px;
}
@media only screen and (max-width: 639.99px) {
  .contacts {
    gap: 40px;
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1023.99px) {
  .contacts {
    margin-bottom: 139px;
  }
}
.contacts__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.contacts__icons {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.contacts__icon-container path {
  fill: #ffffff;
  transition: fill 0.3s ease-in-out;
}
.contacts__icon-container:hover path {
  fill: #008aff;
}
.contacts__link {
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}
.contacts__link:hover {
  color: #008aff;
}

.scale-on-hover {
  transition: transform 0.3s ease-in-out;
}
.scale-on-hover:hover {
  transform: scale(1.05);
}

/*# sourceMappingURL=style.css.map */
