$dark: #2c2c2c;
$blue-0: #144ed4;
$blue-1: #2060f6;
$blue-2: #008aff;
$blue-3: #56ccf2;
$blue-4: #f2f6fa;

$pink-0: #f25656;
$pink-1: #ff9c8e;
$pink-2: #ff7e6c;
$pink-3: #ff9c8e;

$yellow: #fcc91d;
$green: #15d850;

$dark-for-text: #253757;
$light-for-text: #6c788b;

$white: #ffffff;

$p-side-sm: 20px;
$p-side-md: 40px;
$p-side-lg: 54px;
$trans-time: 1s;
$border-radius-30: 30px;